@{
    ViewBag.Title = "About";
}
<style>
    h3 {
        text-align: center;
    }
</style>
@*<div class="BGWorking">*@

<h1 style="text-align:center; font-size:350%">About Such Trans Logistics</h1>
@*<div class="ContentDiv">*@

<div class="ContentDiv" style="float:left;">
    <h3><u>Who Are We?</u></h3>
    <p>SUCHTRANS is a Logistics Company Operating all over Kwa-Zulu Natal, South Africa with the main office situated in Silverglen, Chatsworth.</p>
    <p>Our company is designed to operate as efficiently as possible and get the job done with as little difficulties to you, the customer, as possible.</p>
    <p>Starting out small, SUCHTRANS has grown and become trusted as a reliable and efficient business by all of its customers.</p>
</div>
<div class="ContentDiv" style="float:right;">
    <h3><u>What Do We Do?</u></h3>
    <p>SUCHTRANS works to deliver shipping containers from the TRANSNET ports to unique, customer defined locations.</p>
    <p> Delivering your containers with as much certainty as possible with procedures in place to deal with delivery vehicle breakdowns, road closures, and any other problems which may occur.</p>
    <p>Come rain or shine, we can assure you that your delivery will come as well.</p>
</div>
<div class="ContentDiv" style="float:left;">
    <h3><u>What Makes us Different?</u></h3>
    <p>The staff at SUCHTRANS is exceptional with drivers ranked by experience and skill.</p>
    <p>A delivery of high importance will be assigned only the best driver who can be trusted to deliver with speed and safety.</p>
    <p>Now you can do everything online, from requesting a quote to making a payment.</p>
</div>
<div class="ContentDiv" style="float:right;">
    <h5>Learn more by signing up and exploring our website, Its Free!</h5>
    <a href="@Url.Action("Register", "Account")" style="color:aliceblue; font-size:large; text-align:center;width:100px"><div style="height:40px;width:120px; background-color:orange;overflow:hidden; color:aliceblue; border-radius:6px;">Sign Up</div></a>
</div>
@*</div>*@
@*</div>*@





