@{
    ViewBag.Title = "Home Page";
}

<h1 id="HomeHeader">Essential Deliveries</h1>
<h3 id="HomeHeader">Delivering Customers Goods Reliably and Efficiently</h3>
<div class="thumbnail" style="width:90%;margin-left:auto;margin-right:auto; height:50%; overflow:hidden; background-color: black;">
    <div id="DemoCarousel" class="carousel slide" data-interval="6000" data-ride="carousel" style="height:100%;">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#DemoCarousel" data-slide-to="1"></li>
            <li data-target="#DemoCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner" style="height:100%">
            <div class="item active" style="width: 100%;">
                <img src="~/Content/Images/Freight%20Ship(edit).jpg" style="width:100%;" />
                <div class="carousel-caption">
                    <div class="carouselEdit">
                        <h3>Easily recieve a price quotation on a delivery</h3>
                        <p>Registration is not required</p>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 100%;">
                <img src="~/Content/Images/Monotone Truck(edit).jpg" style="width:100%" />
                <div class="carousel-caption">
                    <div class="carouselEdit">
                        <h3>SUCHTRANS has worked with some big names</h3>
                        <p>Including ?Microsoft ?CJ Distribution ?Debonairs</p>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 100%;">
                <img src="~/Content/Images/Containers(edit).jpg" style="width:100%;" />
                <div class="carousel-caption">
                    <div class="carouselEdit">
                        <h3>A diverse fleet of trucks</h3>
                        <p>different sizes and strengths to suit any delivery need</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel Controls -->
        <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<br />
<table id="HomeTable">
    <tr>
        <td rowspan="2" class="homeTD" style="background-image: url('../../Content/Images/Shadow%20Truck.jpg')">
            <div id="RegForFree">
                <a style="color:white;" href="@Url.Action("Register", "Account")">Register for Free</a>
            </div>
        </td>
        <td class="homeTD" style="background-image: url('../../Content/Images/Container%20Yard.jpg')">
            <div id="RegForFree">
                <a style="color:white;" href="@Url.Action("About", "Home")">Learn About SuchTrans</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="homeTD" style="background-image: url('../../Content/Images/Paperwork.jpg')">
            <div id="RegForFree">
                <a style="color:white;" href="@Url.Action("Create", "Quote")">Get an Immediete Quote</a>
            </div>
        </td>
    </tr>
</table>

@*<a style="color:black;" href=@Url.Action("Create","Quote")>@*"~/Views/Quote/Create.cshtml">
        <div id="HomeQuote">
            <h1 style="font-family:Impact, Charcoal, sans-serif;font-size:xx-large; text-align:center;font-weight:500;text-shadow:5px 5px 10px black;">Get a Delivery <br/> Price Quote</h1>
        </div>

    </a>*@

<br />
<br />
@*</div>*@
@*</div>*@