

@{ 

}

<div class="FilterDiv">
    <div>
        @{ Html.RenderPartial("_Alerts"); }
    </div>
    
    <br />
    <div>
        @Html.ActionLink("Back To Deliveries", "YourDeliveries")
    </div>
    

</div>
